<! DOCTYPE HTML>
<html>
    <head>
        <title>一覧ページ</title>
    <body class = "container">
        <h1 class "display-4">学習チケット新規作成</h1>
            <div class="form">
                <form method="post" action=".">
                    <div class="title_box">
                        <input class="form_title" type="text" name="title"  /> 
                    </div>
                    <div class="box2">

                    </div>
                    <div class="box2">
                        <input class="form_limit_date" type="date" name="doneLimitDate"  />
                    </div>
                    <input class="form_content" type="text" name="content"  /> 
                
                    <input type="submit" value="作成"/>
                </form>
            </div>                
    </body>
</html>